@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-bgColor: var(--main-bg-color);
  --color-white: var(--white-color);
  --color-text-primary: var(--text-primary);
  --color-text-link: var(--text-link);
  --color-text-link-2: var(--text-link-2);
  --color-primary: var(--primary-color);
  --color-dark-color: #282C33;
  --color-purple-2: var(--purple-2);
  --color-border-articles: var(--border-color);
  --color-text-secondary: var(--text-secondary);
  --color-tertiary-bg: var(--bg-tertiary);
  --color-purple-5: #553F72;
  --color-gray-1: var(--gray-1);
  --color-gray-2: #ABB2BF;
  --color-gray-3: #4E4458;
  --color-gray-4: #9C8AAE;
  --color-gray-9: #14161A80;
  --color-border-gray: #ABB2BF33;
  --color-tertiary-bg-2: var(--bg-tertiary-2);

  /* Custom padding */
  --spacing-10\.5: 42px;
  --spacing-13: 50px;
  --spacing-14\.5: 58px;

  /* Custom width */
  --spacing-21: 84px;
  --spacing-22: 88px;

  /* Custom spacing */
  --spacing-25: 100px;
  --spacing-41: 164px;
  --spacing-42: 168px;
  --spacing-42\.5: 170px;
  --spacing-43: 172px;
  --spacing-45: 180px;
  --spacing-106: 416px;
  --spacing-112: 448px;

  /* Custom border radius */
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-40: 40px;
  --radius-80: 80px;

  /* Custom font sizes */
  --font-size-title1: 32px;
  --font-size-title1--line-height: 42px;
  --font-size-title2: 32px;
  --font-size-title2--line-height: 36px;
  --font-size-title3: 24px;
  --font-size-title3--line-height: 25px;
  --font-size-title-span: 32px;
  --font-size-title-span--line-height: 39px;
  --font-size-body1: 18px;
  --font-size-body1--line-height: 25px;
  --font-size-body2: 16px;
  --font-size-body2--line-height: 25px;
  --font-size-caption1: 18px;
  --font-size-caption1--line-height: 18px;
  --font-size-caption2: 14px;
  --font-size-caption2--line-height: 16px;

  /* Custom box shadows */
  --shadow-heroImage: 0px 4px 4px -1px #370C620F;
  --shadow-heroImage2: 0px 8px 6px -1px #370C621A;

  /* Custom animations */
  --animate-in: in .6s both;
  --animate-in-reverse: in-reverse .6s both;
}

@import "../tailwind/components.css";

html {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  scroll-behavior: smooth;
  font-display: swap;
}

@layer base {
  :root {
    --white-color: #fff;
    --main-bg-color: #fff;
    --primary-color: #7127ba;
    --text-primary: #282c33;
    --gray-1: #282c33;
    --purple-2: "#ccc";
    --text-secondary: #553f72;
    --border-color: "#370C62";
    --ellipse-gradient: radial-gradient(
      70% 70% at 75% 65%,
      rgba(113, 39, 186, 0.5) 0%,
      rgba(113, 39, 186, 0) 100%
    );
    --bg-tertiary: #fcf9ff;
    --bg-tertiary-2: #f9f3ff;
    --text-link: #9c8aae;
    --text-link-2: #5f6571;

    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e0e0e0;
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbb;
    --gray-9: #8d8d8d;
    --gray-10: #838383;
    --gray-11: #646464;
    --gray-12: #202020;
  }

  /* If the user switches dark mode */
  :root[class="dark"] {
    --main-bg-color: #282c33;
    --white-color: #fff;
    --primary-color: #d24df8;
    --text-primary: #fff;
    --text-secondary: #abb2bf;
    --gray-1: white;
    --purple-2: "#4E4458";
    --border-color: "#ABB2BF";
    --bg-tertiary: #14161a80;
    --bg-tertiary-2: #14161a80;
    --text-link: #9c8aae;
    --text-link-2: #5f6571;

    -sample: #ffffff;

    --gray-3: #222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;
  }

  body {
    font-family: "Ubuntu", ui-sans-serif, system-ui, sans-serif;
  }
}

@keyframes in {
  0% { transform: translateY(18px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes in-reverse {
  0% { transform: translateY(-18px); opacity: 0; }
  100% { transform: translateY(0px); opacity: 1; }
}

.font-ubuntu {
  font-family: "Ubuntu", ui-sans-serif, system-ui, sans-serif;
}

.font-fira-code {
  font-family: "Fira Code", ui-monospace, "SFMono-Regular", monospace;
}

.font-alexandria {
  font-family: "Alexandria", ui-sans-serif, system-ui, sans-serif;
}

.font-quantico {
  font-family: "Quantico", ui-sans-serif, system-ui, sans-serif;
}

/* ARTICLES ELLIPSE BACKGROUND GRADIENT */
@media screen and (min-width: 1024px) {
  .ellipse::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--ellipse-gradient);
    width: 850px;
    height: 700px;
    filter: blur(7rem);
    top: -10rem;
    left: 2rem;
  }
}

@media screen and (min-width: 1140px) {
  .ellipse::before {
    height: 800px;
    top: -10rem;
    left: -1rem;
  }
}

@media screen and (min-width: 1350px) {
  .ellipse::before {
    width: 750px;
    height: 750px;
    top: -5rem;
    left: 15rem;
  }
}

.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

.prose p code {
  @apply whitespace-pre-line rounded  p-1 font-normal text-text-primary;
}

pre,
pre[data-theme="github-dark-dimmed"] {
  @apply rounded-md border border-[var(--gray-3)] !bg-[#ffffff] text-[13px] text-xs leading-6 text-text-primary dark:!bg-[#262626];
}

div[data-rehype-pretty-code-title] + pre,
figcaption[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-tl-none rounded-tr-none border-t-0;
}

div[data-rehype-pretty-code-title] {
  @apply max-w-none rounded-md rounded-bl-none rounded-br-none border border-[var(--gray-3)] bg-[#ffffff] px-6 py-3 text-[13px] text-xs leading-5 text-text-primary dark:bg-[#262626];
}

figcaption[data-rehype-pretty-code-title] {
  @apply m-0 block w-full max-w-[37rem] rounded-md rounded-bl-none rounded-br-none border border-[var(--gray-3)] bg-[#ffffff] px-6 py-3 text-[13px] text-xs leading-5 text-text-primary dark:bg-[#262626];
}

div[data-rehype-pretty-code-fragment] {
  overflow: hidden;

  /* stylist preferences */
  background-color: rgb(248, 17, 17);
  border-radius: 0.5rem;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;

  /* stylist preferences */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.highlight-line {
  margin-left: -28px;
  margin-right: -24px;
  padding-left: 25px;
  background-color: #008ff54f; /* Set highlight bg color */
  border-left: 3px solid #3b9eff; /* Set highlight accent border color */
}

:root[class="dark"] {
  .highlight-line {
    background-color: transparent;
    border-left: none;
    padding-left: 28px;
  }
}

.line-number::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  text-align: right;
  margin-right: 24px;
  margin-left: -8px;
  color: var(--gray-8); /* Line number color */
  content: attr(line);
}
