name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into server and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_PRIVATE_KEY }}
          script: |
            sudo git clone https://github.com/${{ github.repository }} ${{ secrets.SERVER_APP_PATH }}
            cd ${{ secrets.SERVER_APP_PATH }}
            sudo docker compose down
            sudo docker compose up -d
